{
  "defaultIssueReasonId": "${DEFAULT_ISSUE_REASON_ID}",
  "authServerClientId": "${AUTH_SERVER_CLIENT_ID}",
  "authServerClientSecret": "${AUTH_SERVER_CLIENT_SECRET}",
  "featureFlags": {
    "BATCH_APPROVE_SCREEN": "${BATCH_APPROVE_SCREEN}",
    "DEFAULT_QUANTITY_UNIT": "${DEFAULT_QUANTITY_UNIT}",
    "GS1_SCANNING": "${GS1_SCANNING}",
    "QUANTITY_UNIT_OPTION": "${QUANTITY_UNIT_OPTION}",
    "SHOW_REQUISITION_LESS_ORDER": "${SHOW_REQUISITION_LESS_ORDER}",
    "SYSTEM_SETTINGS": "${SYSTEM_SETTINGS}"
  }
}
